@model AI_Application.Models.SinhVien.InformationLookup

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InformationLookup</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Query)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Query)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SearchedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SearchedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
